/* Basic styles - Tailwind will be added later */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0DC;
  color: #36454F;
}

/* Ensure Petflix logo is always blue */
a[href*="/home"] span,
a[href="/"] span {
  color: #ADD8E6 !important;
}
